[Desktop Entry]
Encoding=UTF-8
Name=Link to Online Markdown Editor - Dillinger, the Last Markdown Editor ever.
Type=Link
URL=https://dillinger.io/
Icon=text-html
